<div class="container">
    <!-- Register form -->
    <div class="row">
        <div class="col-md-8 mx-auto mt-5">
            <h4 class="text-center">Cadastro de Conta</h4>
            <!-- Register form -->
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i>
                    <label for="nome">Nome</label>
                    <input type="text" formControlName="nome" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nome.errors }"
                        mdbInputDirective />
                    <div *ngIf="submitted && f.nome.errors" class="invalid-feedback">
                        <div *ngIf="f.nome.errors.required">Nome Completo é obrigatório</div>
                    </div>
                </div>

                <div class="md-form">
                    <i class="fa fa-id-card prefix grey-text"></i>

                    <label for="rg">RG</label>
                    <input type="text" formControlName="rg" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.rg.errors }"
                        mdbInputDirective />
                    <div *ngIf="submitted && f.rg.errors" class="invalid-feedback">
                        <div *ngIf="f.rg.errors.required">Email é obrigatório</div>
                    </div>
                </div>
                <div class="md-form">
                    <i class="fa fa-id-card prefix grey-text"></i>

                    <label for="cpf">CPF</label>
                    <input type="number" formControlName="cpf" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cpf.errors }"
                        mdbInputDirective />
                    <div *ngIf="submitted && f.cpf.errors" class="invalid-feedback">
                        <div *ngIf="f.cpf.errors.required">CPF é obrigatório</div>
                    </div>
                </div>
                <div class="md-form">
                    <i class="fa fa-phone prefix grey-text"></i>
                    <label for="telefone">Telefone</label>
                    <input type="text" formControlName="telefone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.telefone.errors }"
                        mdbInputDirective />
                    <div *ngIf="submitted && f.telefone.errors" class="invalid-feedback">
                        <div *ngIf="f.telefone.errors.required">Telefone é obrigatório</div>
                    </div>
                </div>
                <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <label for="email">Email</label>
                    <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                        mdbInputDirective />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email é obrigatório</div>
                    </div>
                </div>
                <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <label for="password">Senha</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                        mdbInputDirective />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Senha é obrigatório</div>
                        <div *ngIf="f.password.errors.minlength">A senha deve ter pelo menos 6 caracteres</div>
                    </div>
                </div>
                <div class="text-center">
                    <button mdbBtn color="deep-orange" [disabled]="loading" class="waves-light" mdbWavesEffect>Cadastrar</button>
                    <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <a routerLink="/login" class="btn btn-link" mdbWavesEffect>Cancelar</a>
                </div>
            </form>
            <!-- Register form -->
        </div>
    </div>
    <!-- Register form -->
</div>